*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  line-height:1.4;
  font-family:sans-serif;
  width: 100%;
  height: 100%;
}
nav{
  position: sticky;
  top: 0;
  background-color: white;
  margin-bottom:30px;
  box-shadow:5px 5px 5px rgb(0, 0,0,0.07);
  min-width: 80%;
  z-index:50;
}

.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
}
.icon i{
  font-size: 2rem;
  cursor: pointer;
}
.container{
  max-width:90%;
  margin: 0 auto;
  
}
.hero-section{
  max-width: 80%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 4rem;

}
.left-box{
 max-width: 48%;
}
.right-box{
 max-width: 48%;
 display: flex;
 flex-direction: column;
 gap: 1rem;
}
.pancake{
  max-width:100%;
  border-radius:1rem;
}
.rightbox-heading{
  font-weight: bold;
  font-size:3rem;
}
.rightbox-footer{
  font-size:0.9rem;
  font-weight: bold;
  color: rgb(82, 78, 78);
}

.discount-para{
  background-color: rgba(28, 134, 28, 0.929);
  color: white;
  min-width: 40%;
  text-align: center;
  padding:5px 11px;
}
.Explore-btn{
  min-width:30%;
  padding: 12px 24px;
  background-color: rgb(255, 166, 0);
  color: white;
  border: none;
  font-size:1.02rem;
    transition: 0.3s ease-in-out;
  /* border-radius: 5px; */
}
.Explore-btn:hover{
  background-color: rgb(255, 181, 44);
 cursor: pointer;
 transition: 0.3s ease-in-out;
}


@media screen and (max-width:786px){
  .hero-section{
  flex-direction: column;
  gap: 1rem;
  }
  .right-box{
    gap: 0.8rem;
  }
  .right-box{
    min-width:48%;
    min-height:48%;
  }
  .left-box{
    min-height: 90%;
    max-width: 90%;
  }
  .pancake{
    min-width: 90%;
    min-height: 90%;
  }
  .right-box h1{
    font-size: 1.2rem;
  }
  .discount-para{
  font-size: 0.9rem;
  }
}
.features-section{
  display: flex;
  margin-top:5rem;
 justify-content: center;
 align-items: center;
 gap: 1.9rem;
 padding: 1.6rem;
}
.feature img{
  width:69%;
}
.feature{
  display: flex;
  align-items: center;
  gap: 0.799rem;
}

.feature:hover{
  margin-bottom: 10px;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.197);
}

@media screen and (max-width:768px) {
  .features-section{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  }
}
.line{
  margin:10px 0px;
  border: 1px solid rgb(153, 161, 179);
  /* transition: 0.3s; */
}

.menu-section{
  margin-top: 0.988rem;
  display: flex;
  justify-content: center;
  align-items: center;
   flex-direction:column;
   gap:1rem;
}
.menu-heading{
  padding:0.600rem 1.3rem;
  background-color: rgb(13, 153, 13);
  color: white;
  border-radius: 6px;
}
.Explore-menu-heading{
  font-size:1.9rem;

}

.grid{
  display: grid;
  grid-template-areas: "item1 item1 item2 item3"
  "item1 item1 item2 item7"
  "item4 item5 item6 item7";
  gap: 1rem;

}
.grid-section{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.grid img{
  border-radius:10px;
  transition:0.2s ease-in-out;
  width:100%;
  height:100%;
}

.grid img:hover{
  transform: scale(1.03);
  transition: 0.2s ease-in-out;
  box-shadow:6px 6px 5px rgb(153, 161, 179);
}

.item1{
  grid-area:item1;
}
.item2{
  grid-area:item2;
}
.item3{
  grid-area:item3;
 
}
.item4{
  grid-area:item4;
 
}
.item5{
  grid-area:item5;
 
}
.item6{
  grid-area:item6;
 
}
.item7{
  grid-area:item7;
 
}
.grid {
  padding:0.9rem;
}

footer{
  background-color: rgb(213, 187, 224);
  margin-top:1.5rem;
  padding:4rem 0;
  
}
.footer-section{
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  margin: 0 auto;
  justify-content: space-evenly;
  padding: 0 15px 0 15px;
}
.footer-last-haeding{
  font-size:1.2rem;
  margin-bottom:1rem;
  font-weight: bold;
}
.footer-last-haeding-form{
  font-size:1.2rem;
  font-weight: bold;
}
.ul-list{
  display:flex;
  flex-direction:column;
  gap: 0.2rem;
}
.ul-list a{
 text-decoration: none;
 color: rgb(75, 73, 73);
}
.ul-list{
  list-style:none;
}
.footer-last{
  display: flex;
  flex-direction: column;
  gap:0.5rem;
}
.footer-icons{
  display: flex;
  flex-direction: row;
  gap:0.8rem;
  font-size:2rem;
}
.footer-last input{
  padding:0.6rem 1.1rem;
  border-radius:5px;
  outline: none;
  border: none;
  margin:0.6rem 0 0.5rem 0;
  border: 1px solid rgb(130, 127, 127);
}
.footer-last input:hover{
 border: 1px solid rgb(20, 235, 255);
}

@media screen and (max-width:786px) {
  .footer-section{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    justify-content: center;
    align-items: center;
  }
  .main-link,.support,.footer-last,.footer-logo{
     display: flex;
    flex-direction: column;
     align-items: center;
     text-align: center;
  }
}