*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: none;
 }
 .container{
   width:100%;
   height:100%;
   overflow-x: none;
   background-color: #c0ccd3;
   background-image: linear-gradient(135deg, #dbe2e6 0%, #dadae2 100%);
   
   
 }
 .navcontainer{
    list-style: none;
    /* background-color: rgba(159, 94, 221, 0.779); */
    background-color: #082a37;
    background-image: linear-gradient(160deg, #082a37 0%, #80D0C7 100%);
    
    width:100%;
    height:4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 2rem;
 }
 nav{
   width: 100%;
   padding-right:2rem;
 }
 .navlist{
   padding:15px;
   width:100%;
   display: flex;
   list-style: none;
   justify-content: space-between;
   font-size:2rem;
 }
 
 #navname{
   /* text-decoration: none; */
   font-size:2.5rem;
   color: white;
 }
 #navitem{
   display: flex;
   gap: 20px;
 
 }
 .navlink{
   text-decoration: none;
   color: white;
 }
 .footerbox{
   width: 100%;
   background-color: #082a37;
background-image: linear-gradient(160deg, #082a37 0%, #80D0C7 100%);

   text-align: center;
   height:2rem;
   font-size:1.5rem;
 }
 .footerbox p{
   color:white;
 }
 
 .contentBox{
  width:70%;
  margin: auto;
  /* border: 1px solid black; */
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding:3rem;
  box-shadow:0px 0px 30px black;
 }
.item{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.rightbox img{
   height:350px;
   border-radius:20px;
   transition:all 0.4s linear 0s;
}
.rightbox:hover{
  transform:scale(1.1);
}
.leftbox{
  display: flex;
  flex-direction: column;
  gap:20px
}

.leftbox h2{
  font-size:2rem;
}
.ingbox{
  font-size: 1.2rem;
}

.recbox{
  font-size:1.1rem;
}

.rightbox{
  position: relative;
  overflow: hidden;
  transition: all 0.3s linear 0s;
  box-shadow:1px 1px 10px black;
  border-radius:20px;

}
 .rightbox .overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #2d2f2fbd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:20px;
  opacity:0;
  transition: all 0.3s linear 0s;
 }
 .rightbox:hover .overlay{
  opacity: 1;
 }
 .rightbox .overlay{
  color: white;
  font-size: 1.2rem;
  
 }
 
 @media screen and (max-width:790px) {
  .contentBox{
    padding: 0;
  }
  .item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    text-align: center;
  }
  .item ul,ol{
    list-style: none;
  }
  #navitem{
   display: none;
  }
  .navlist{
    justify-content: center;
  }
  .rightbox img {
    height: 350px;
    width: 100%;
    padding: 3rem;
    border-radius: 20px;
    transition: all 0.4s linear 0s;
}
  
  
 }
